/*Fonts Imported from googlefonts*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat');



/*Globals*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    text-align:center;
    overflow-x:hidden;
}
ul{
    margin:0;
    padding:0;
    list-style-type: none;
}
a{
    color:#000000;
    text-decoration:none;
}

.fullscreen{
    width:100%;
    height:100%;
}

.heading{
    font-family:'Lato';
    font-size:48px;
}

.subheading{
    font-family:'Lato';
    font-size:40px;
    font-weight:100;
}

.btn{
    padding:15px 30px;
    border:1px solid #000000;
    font-family: 'Roboto';
}

.btn:hover{
    cursor:pointer;
    color:white;
    border-color:#ffffff;
    transition: 0.2s linear;
}

.lead{
    font-family:'Montserrat';
    font-size:18px;
}

.progress{
    background-color:#000000;
    border-radius:5px;
    height:100%;
    color:white;
    text-align:center;
    font-family:'Lato';
}

.title{
    font-size:24px;
}

.subtitle{
    font-size:16px;
}

/*Locals*/
header{
    background-color:#ccc;
    background: url('../images/sidbg.png');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header .navigation{
    width:100%;
    height:10%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
}

header .navigation li{
    width:25%;
    height:100%;
    text-align: center;
}

header .navigation li a{
    font-size:20px;
    font-family:'Roboto';
    font-weight:500;
}

header .navigation li a:hover{
    color:#ffffff;
    transition:0.2s linear;
}

header .textcolumn{
    margin-left:10px;
    width:50%;
    height:90%;
    margin:auto;
    display:flex;
    align-items:baseline;
    justify-content:center;
    flex-direction: column;
    text-align: left;
}

header .heading{
    color:#e9e9e9;
    margin:3px 0px;
    font-size:64px;
}
header .subheading{
    margin:5px 0px;
    color:#ffffff;
    font-size:48px;
}
header .btn-explore{
    margin-top:20px;
    font-size:24px;
}

.about{
    display:flex;
    text-align:left;
}

section .textcolumn{
    width:50%;
    height:85%;
    margin:auto;
    border-right:1px solid #000000;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

section .textcolumn .lead{
    padding:10px;
}

section .textcolumn .skillsbox{
    display:flex;
    flex-direction:column;
    height:50%;
}

section .textcolumn .skillsbox .subheading{
    margin-bottom:15px;
}

section .textcolumn .skillsbox > div{
    border:1px solid black;
    height:10%;
    width:80%;
    margin:auto 0;
    margin-left:5px;
    border-radius:7.5px;
    display:flex;
    flex-direction:column;
}

/*Skills Percentage*/
.design .progress{
    width:70%;
}

.development .progress{
    width:85%;
}

.communication .progress{
    width:90%;
}

.creativity .progress{
    width:75%;
}

section .imagecolumn{
    width:50%;
    height:85%;
    margin:auto;
    border-left:1px solid #000000;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

section .imagecolumn .imgbox{
    width:60%;
    height:80%;
    border:1px solid black;
    margin-bottom:10px;
    background: url('../images/sid2.png');
    background-position: center;
    background-size:cover;
}

section .imagecolumn .textbox{
    width:60%;
    height:20%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

section .imagecolumn .textbox a{
    padding:3px;
    font-size:24px;
    color:#a3a3a3;
}

section .imagecolumn .textbox a:hover{
    color:black;
    transition: 0.2s linear;
}

.portfolio{
    padding:20px;
    display:flex;
    align-items:center;
    justify-content: space-around;
    width:100%;
    height:50%;
}

.portfolio >div{
    height:100%;
    width:30%;
    display:flex;
    flex-direction: column;
}

.portfolio >div .imgbox{
    height:100%;
    width:100%;
    border:1px solid black;
    margin-bottom:10px;
}

.portfolio >div .textbox{
    width:100%;
}


footer{
    width:100%;
    padding:10px;
    background-color:#000000;
    color:white;
    text-align:left;
    display:flex;
    justify-content: space-between;
    align-items:center;
    font-family:'Montserrat';
}

footer .textbox{
    width:50%;
    border-right:1px solid white;
}

footer .textbox .title{
    margin-bottom:10px;
}

footer .textbox2{
    width:50%;
    border-left:3px solid white;
}

footer .textbox2 a{
    color:white;
    font-size:48px;
}

.ctitle{
    font-family:'Montserrat';
    font-size:16px;
    background-color:#000000;
    border-top:1px solid white;
    color:white;
    padding:3px;
}

/*Media Queries*/
@media only screen and(max-width:1024px)
{
    header{
        width:100%;
        height:100%;
    }
    header .navigation{
        width:100%;
        height:10%;
        align-items: center;
        justify-content: space-evenly;
    }
    
    header .navigation li{
        text-align: center;
    }

    header .navigation li a{
        font-size:12px;
    }

    header .textcolumn{
        margin-left:1px;
        width:100%;
        height:100%;
    }

    .heading{
        font-size:20px;
    }

    .lead{
        font-size:12px;
    }
    section .textcolumn{
        width:100%;
        height:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }

    section .textcolumn .skillsbox{
        display:flex;
        flex-direction:column;
        height:100%;
    }

    .subheading{
        font-size:18px;
    }

    footer .textbox2 a{
        font-size:18px;
    }
}


@media only screen and(max-width:400px)
{
    header{
        width:100%;
        height:100%;
    }
    header .navigation{
        width:100%;
        height:10%;
        align-items: center;
        justify-content: space-evenly;
    }
    
    header .navigation li{
        text-align: center;
    }

    header .navigation li a{
        font-size:12px;
    }

    header .textcolumn{
        margin-left:1px;
        width:100%;
        height:100%;
    }

    .heading{
        font-size:24px;
    }

    .lead{
        font-size:16px;
    }
    section .textcolumn{
        width:100%;
        height:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }

    section .textcolumn .skillsbox{
        display:flex;
        flex-direction:column;
        height:100%;
    }

    .subheading{
        font-size:22px;
    }

    footer .textbox2 a{
        font-size:24px;
    }
}
@media only screen and (max-width: 600px) 
{   
    header{
        width:100%;
        height:100%;
    }
    header .navigation{
        width:100%;
        height:10%;
        align-items: center;
        justify-content: space-evenly;
    }
    
    header .navigation li{
        text-align: center;
    }

    header .navigation li a{
        font-size:12px;
    }

    header .textcolumn{
        margin-left:1px;
        width:50%;
        height:90%;
        display:flex;
        align-items:left;
        justify-content:center;
    }

    .heading{
        font-size:24px;
    }

    .lead{
        font-size:16px;
    }
    section .textcolumn{
        width:100%;
        height:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }

    section .textcolumn .skillsbox{
        display:flex;
        flex-direction:column;
        height:100%;
    }

    .subheading{
        font-size:22px;
    }

    footer .textbox2 a{
        font-size:24px;
    }

} 